@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    word-wrap: break-word;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    animation: filter 30s infinite;
    background: linear-gradient(180deg, rgba(0,255,163,1) 0%, rgba(50,229,67,1) 100%);
}

#top {
    visibility: hidden;
    opacity: 0;
    position: fixed; 
    right: 2px;
    bottom: 2px;  
    background-color: rgba(0, 0, 0, 0.867); 
    cursor: pointer; 
    border-radius: 4px;
    transition: background-color .2s, opacity .2s, visibility .2s;
    padding: 10px;
}

#top.active {
    opacity: 1;
    visibility: visible;
}

#top:hover {
    background-color: rgba(255, 255, 255, 0.867);
}

#top:hover svg path {
    fill: #000000;
}

#pagebox {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#menu {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

#menu div {
    background-color: rgba(0, 0, 0, 0.267);
    font-size: 20px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

#menu div a {
    background-color: rgba(0, 0, 0, 0.267);
    color: #FFFFFF;
    text-decoration: none;
    margin: 3px;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
}

#menu div a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.topnav {
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topnav .space {
    background-color: rgba(51, 51, 51, 0.867);
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgba(47, 47, 47, 0.98);
    font-size: 17px;
}

.topnav a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.content {
    flex-grow: 0;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
    padding: 15px;
    background: rgba(68, 68, 68, 0.933);
    border: 5px rgba(68, 68, 68, 0.933);
    border-radius: 3px;
}

.content a {
    text-decoration: none;
    color: #4169e1;
}

.content h1 {
    text-align: center;
    margin-bottom: 0px; 
}

.content h2 {
    text-align: center;
}

.content img {
    width: 100%;
    max-width: max-content;
}

.content .large {
    display: block;
    margin: 0 auto;
    max-width: 45vw;
}

.content pre {
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.content #examples {
    display: flex;
    flex-direction: row;
}

.content #examples p {
    padding-right: 5px;
}

footer {
    flex-grow: 0;
    background: rgba(0, 0, 0, 0.867);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    padding-right:5px;
}

.space {
    flex-grow: 1;
}

table {
    border-collapse: collapse;;
    margin: auto;
}
  
table, td, th {
    width: 25vw;
    padding: 5px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
}

@media (max-width: 750px) {
    .content{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .content svg {
        width: 25vw;
        height: 25vw;
    }
    .content .large {
        max-width: max-content;
    }
}
  
@media (max-width: 950px) and (min-width: 750px) {
    .content .large {
        max-width: 60vw;
    }
}

@keyframes filter {
    from {
        filter: hue-rotate(0deg) saturate(100%);
    }
    50% {
        filter: hue-rotate(360deg) saturate(140%);
    }
    to {
        filter: hue-rotate(0deg) saturate(100%);
    }
}

.wide-input {
    width: 80%;
}

.button-form {
    display: inline;
}

.center-image {
    display: block; /* Torna a imagem um elemento de bloco para alinhar corretamente */
    margin: 0 auto; /* Centraliza horizontalmente usando margens */
    max-width: 100%; /* Garante que a imagem não seja maior do que o contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
}